/* GENERAL */

.no {
    display: none;
}

.form-control--inb {
    display: inline-block;
    width: auto;
}

/* APP */

.container--pastNav {
    /* get past the navbar and add the same margin as .panel */
    padding-top: 71px;
}

.player {
    margin-bottom: 20px;
}

.inactive .player__name,
.inactive .progress,
.inactive .timer {
    opacity: .5;
}
