/* RESET */

body,
button,
input,
select,
menu,
h1,
h2,
h3,
h4,
ol,
ul,
li,
p,
a,
th,
td {
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* BOOTSTRAP */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* BOOTSTRAP - INPUT & SELECT */

.form-control {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    height: 34px;
    padding: 6px 12px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    outline: 0;
}

/* BOOTSTRAP - BUTTON */

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    touch-action: manipulation;
}

.btn:active {
    outline: 0;
}

.btn:focus {
    outline-offset: -2px;
}

.btn-default {
    color: #333;
    background: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    background: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active {
    background: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-default:focus {
    background: #e6e6e6;
    border-color: #8c8c8c;
}

/* BOOTSTRAP - PROGRESS */

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    height: 100%;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

/* GENERAL */

.no {
    display: none;
}

/* APP */

.container {
    padding: 10px;
}

.totalTimer,
.playerTimers,
.config {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.player {
    margin-bottom: 20px;
}

.inactive .player__name,
.inactive .progress,
.inactive .timer {
    opacity: .5;
}