/* MIXINS */

@mixin display-flex() {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($val) {
  -webkit-flex: $val;
  flex: $val;
}

@mixin align-items($val) {
  -webkit-align-items: $val;
  align-items: $val;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin transition($val) {
  -webkit-transition: $val;
  transition: $val;
}


/* GENERAL */

.form-control--inb {
  display: inline-block;
  width: auto;
}

.inb {
  display: inline-block;
}

.flexRow {
  @include display-flex();
  @include flex-direction(row);
}

.flex1 {
  @include flex(1);
}

.centerHorVert {
  @extend .flexRow;
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
}

/* APP */

.container--pastNav {
  $navbar_height: 50px;
  $navbar_border: 1px;
  $panel_margin_bottom: 20px;

  /* get past the navbar and add the same margin as .panel */
  padding-top: $navbar_height + $navbar_border + $panel_margin_bottom;
}

/* TIMER */

.player {
  margin-bottom: 20px;
}

.inactive {
  opacity: .5;
}

.player__name {
  margin-right: 10px;
}

.controlBtn {
  @extend .flex1;
  text-align: center;
  box-sizing: border-box;
}

.controlBtn--lft {
  padding-right: 10px;
}

.controlBtn--rgt {
  padding-left: 10px;
}

.marginTop0 {
  // counter bootstrap's ".btn-block + .btn-block" selector
  margin-top: 0 !important;
}

.progress-bar {
  @include transition(none);
}

/* CONFIG */

.configTitle {
  margin-right: 10px;
}
